    /*
    Flaticon icon font: Flaticon
    Creation date: 23/07/2016 15:14
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-avatar:before { content: "\f100"; }
.flaticon-cogwheel28:before { content: "\f101"; }
.flaticon-computer:before { content: "\f102"; }
.flaticon-gps:before { content: "\f103"; }
.flaticon-graduate-student-avatar:before { content: "\f104"; }
.flaticon-list100:before { content: "\f105"; }
.flaticon-man115:before { content: "\f106"; }
.flaticon-notes:before { content: "\f107"; }
.flaticon-profile10:before { content: "\f108"; }
.flaticon-school:before { content: "\f109"; }
.flaticon-school52:before { content: "\f10a"; }
.flaticon-symbols:before { content: "\f10b"; }
.flaticon-teacher-with-stick:before { content: "\f10c"; }
.flaticon-tool598:before { content: "\f10d"; }
.flaticon-transport315:before { content: "\f10e"; }
.flaticon-wall-clock:before { content: "\f10f"; }
    
    $font-Flaticon-avatar: "\f100";
    $font-Flaticon-cogwheel28: "\f101";
    $font-Flaticon-computer: "\f102";
    $font-Flaticon-gps: "\f103";
    $font-Flaticon-graduate-student-avatar: "\f104";
    $font-Flaticon-list100: "\f105";
    $font-Flaticon-man115: "\f106";
    $font-Flaticon-notes: "\f107";
    $font-Flaticon-profile10: "\f108";
    $font-Flaticon-school: "\f109";
    $font-Flaticon-school52: "\f10a";
    $font-Flaticon-symbols: "\f10b";
    $font-Flaticon-teacher-with-stick: "\f10c";
    $font-Flaticon-tool598: "\f10d";
    $font-Flaticon-transport315: "\f10e";
    $font-Flaticon-wall-clock: "\f10f";